body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f1ff;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(90deg, #6a5acd, #b19cd9);
    color: white;
    text-align: center;
    padding: 18px;
    z-index: 1000;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #4b3f72;
    color: white;
    text-align: center;
    padding: 10px;
}

.gallery {
    margin-top: 130px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
    padding: 20px;
}

.card {
    background-color: #ffffff;
    border: 2px solid #dcd6f7;
    padding: 15px;
    border-radius: 14px;
    box-shadow: 0 6px 12px rgba(106, 90, 205, 0.2);
}

.tag {
    display: inline-block;
    background-color: #e6ddff;
    color: #4b3f72;
    padding: 4px 10px;
    font-size: 0.8rem;
    border-radius: 12px;
    margin-bottom: 8px;
}


.image-box {
    position: relative;
    height: 180px;
    overflow: hidden;
    border-radius: 12px;
}

.image-box img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.image-box img:first-child {
    opacity: 1;
}

.image-box:hover img:nth-child(2) {
    opacity: 1;
}

.card h3 {
    margin-top: 12px;
    color: #4b3f72;
}

.card p {
    font-size: 0.9rem;
    color: #333;
}

.sticky-title {
    text-align: center;
    position: sticky;
    top: 130px;
    grid-column: 1 / -1;
    background-color: #f4f1ff;
    padding: 12px 20px;
    margin-bottom: 10px;
    color: #4b3f72;
    font-size: 1.3rem;
    font-weight: bold;
    z-index: 5;
}

