body {
    font-family: Arial;
    background-color: #f4f1ff;
    text-align: center;
}

h2 {
    margin-top: 20px;
}

.filters {
    margin: 20px;
}

.filters select,
.filters input {
    padding: 6px;
    margin: 5px;
}

button {
    padding: 6px 12px;
    background-color: #6a5acd;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background-color: #6a5acd;
    color: white;
}